body {
  background: #141416;
  color: #99999a;
}

a {
  color: #99999a;
  font-weight: 400;
  text-transform: uppercase;
}

a:hover {
  color: #5c31ca !important;
}

a.nav-link {
  position: relative;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(to right, #ffa500, #fb03c5 50%, #5c31ca 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
a.nav-link:hover {
  background-position: 0 100%;
}
h1,
h2,
h3,
h5 {
  color: #99999a;
}

h4,
h6 {
  color: #5c31ca;
}
.bg-dark {
  background-color: #1c242f!important
}

.text-success {
  color: #7ec699;
}

.svg-inline--fa {
  color: #5c31ca;
}

.svg-inline--fa:hover {
  color: #b5b5b5;
}
main.text-center.my-5 {
  margin-top: 100px !important;
}

nav.navbar.fixed-top {
  background-color: #0f0f10;
  margin-bottom: 40px;
}
nav.navbar.fixed-bottom.navbar-expand-sm {
  background-color: #0f0f10;
  margin: 40px 0 0;
}

nav img {
  width: 40px;
  height: 40px;
}

li.nav-item {
  padding-top: 6px;
}

.btn-purple {
  background: #5c31ca;
  color: #fff;
}
.btn-purple-outline {
  border: 1px solid #5c31ca;
  color: #5c31ca !important;
}

.btn-purple:hover {
  background: #381d7e;
  color: #fff !important;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.card {
  background: none;
}

.card-img-top {
  border-radius: 50%;
  margin-bottom: 20px;
  max-height: 150px;
  max-width: 150px;
}
